.formulario {
    width: 100%;

}

.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;

    label {
        color: $blanco;
        flex: 0 0 10rem;
    }

    input {
        flex: 1;
        border-radius: 1rem;
        padding: $separacion / 4;
        border: none;
    }
}

.alerta {
    color: $blanco;
    text-align: center;
    padding: $separacion / 2 0;
    text-transform: uppercase;
    width: 100%;
    display: block;

    &.error {
        background-color: rgb(194, 0, 0);
    }
}